<div class="url-shortener-container">
    <h2>URL Shortener</h2>
    <form>
      <div class="form-group">
        <input 
          type="text" 
          id="url-input" 
          class="form-control" 
          placeholder="Enter the valid URL" 
          [(ngModel)]="url"
          name="url"
          (focus)="onInputFocus($event)"
          (blur)="onInputBlur($event)"
          required>
      </div>
      
   <div class="form-group">
        <button type="button" class="btn btn-primary shorten-btn">Shorten URL</button>
      </div>
    </form> 
    <!-- <div *ngIf="shortenedUrl" class="shortened-url-container">
      <div class="form-group">
        <input 
          type="text" 
          id="shortened-url" 
          class="form-control" 
          [value]="shortenedUrl" 
          readonly>
        <button type="button" class="btn btn-secondary" (click)="copyToClipboard()">Copy</button>
      </div>
    </div> --> 
</div>

  